@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Vaso\/Documents\/dyakon\/src\/sass\/style\.sass}line{font-family:\000031}}
html {
  font-family: "Share Tech Mono";
  background: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Vaso\/Documents\/dyakon\/src\/sass\/style\.sass}line{font-family:\000035}}
.page {
  width: 95%;
  margin: 0 2.5%;
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Vaso\/Documents\/dyakon\/src\/sass\/style\.sass}line{font-family:\0000311}}
.game-screen {
  font-size: 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #999 inset, 0 0 15px 2px #BBB;
  padding: 15px;
  width: 100%;
  height: 400px;
  color: #00e100;
  text-shadow: 0px 0px 15px lime;
  overflow-y: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Vaso\/Documents\/dyakon\/src\/sass\/style\.sass}line{font-family:\0000323}}
.game-input {
  width: 100%;
  background: black;
  color: #00e100;
  text-shadow: 0px 0px 15px lime; }

/*# sourceMappingURL=style.css.map */
