html
  font-family: 'Share Tech Mono'
  background: black

.page
  width: 95%
  margin: 0 2.5%
  float: right


.game-screen
  font-size: 1.5em
  border-radius: 5px
  box-shadow: 0 0 5px 2px #999 inset, 0 0 15px 2px #BBB
  padding: 15px
  width: 100%
  height: 400px
  //background: black
  color: rgba(0,225,0,1.0)
  text-shadow: 0px 0px 15px rgba(0,255,0,1.0)
  overflow-y: hidden

.game-input
  width: 100%
  background: black
  color: rgba(0,225,0,1.0)
  text-shadow: 0px 0px 15px rgba(0,255,0,1.0)
